<!-- Left Sidebar -->
<div class="left main-sidebar">

  <div class="sidebar-inner leftscroll">

      <div id="sidebar-menu">
         
          <ul>
            <!--hamberger-->
            <!-- <li class="menu">
                <a href="/home">
                    <i class="fas fa-bars"></i>
                </a>
            </li> -->

              <li class="submenu">
                  <a href="/home">
                      <i class="fa fa-home"></i>
                      <span> หน้าเเรก </span>
                  </a>
              </li>
              <li class="submenu">
                  <a href="/cupboard">
                      <i class="fa fa-medkit"></i>
                      <span> การจัดการตู้ยา </span>
                  </a>
              </li>
              <li class="submenu">
                <a href="/history">
                    <i class="fa fa-history"></i>
                    <span> ประวัติการจัดการตู้ยา </span>
                </a>
            </li>
            <li class="submenu">
                <a href="/history/slot">
                    <i class="fas fa-pills"></i>
                    <span> ประวัติการสล็อตยา </span>
                </a>
            </li>
            <li class="submenu">
                <a href="/drug/in">
                    <i class="fas fa-business-time"></i>
                    <span>รายการนำยาเข้าตู้ </span>
                </a>
            </li>
              

          </ul>

          <div class="clearfix"></div>

      </div>

      <div class="clearfix"></div>

  </div>

</div>
<!-- End Sidebar -->