<!-- top bar navigation -->
<div class="headerbar">

  <!-- LOGO -->
  <div class="headerbar-left">
      <a href="/home" class="logo">
        <script src='https://kit.fontawesome.com/a076d05399.js' crossorigin='anonymous'></script>
          <img alt="Logo" style=" width: 60px; height: 80px;" src="https://image.flaticon.com/icons/png/512/1184/1184564.png" />
          <span>Maxwell Drug</span>
      </a>
  </div>

  <nav class="navbar-custom">

      <ul class="list-inline float-right mb-0">

      <!--เเจ้งเตือน-->
          



              <!--profile-->

          <li class="list-inline-item dropdown notif ">
              <div class="nav-link dropdown-toggle nav-user"   aria-haspopup="false" aria-expanded="false">
                  <img src="/images/admin.png"  style=" width: 25px; height: 25px;"alt="Profile image" class="pic">
                  <span class="fon" ><%= sname+"  "+lname%></span>
              </div>

          </li>
          <li class="list-inline-item dropdown notif">
                  <a class="nav-link dropdown-toggle arrow-none"   href="/logout" aria-haspopup="false" aria-expanded="false">

                      <span class="fon" >ออกจากระบบ</span>
                  </a>
           </li>

      </ul>

  </nav>

</div>