<!-- <span class="pull-right">
                                            <button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#modal_add_user">
                                                <i class="fa fa-plus-square" aria-hidden="true"></i>&nbsp;&nbsp;เพิ่มตู้ยา</button>
                                        </span> -->
                                        <!-- <div class="modal fade custom-modal" tabindex="-1" role="dialog" aria-labelledby="modal_add_user" aria-hidden="true" id="modal_add_user">
                                            <div class="modal-dialog">
                                                <div class="modal-content">
    
                                                    <form action="#" method="post">
    
                                                        <div class="modal-header">
                                                            <h5 class="modal-title">เพิ่มสล็อตยา</h5>
                                                            <button type="button" class="close" data-dismiss="modal">
                                                                <span aria-hidden="true">&times;</span>
                                                                <span class="sr-only">ปิด</span>
                                                            </button>
                                                        </div>
                                                     
                                                        <div class="modal-body">

                                                            
                                                            <div class="row">
                                                                <div class="col-lg-12">
                                                                    <% for(let i = 0; i < data[0].numslot; i++) { %>
                                                                        <div class="form-group">
                                                                            <label>ลำดับสล็อต</label>
                                                                            <label><%= i+1%></label>
                                                                            <label>รหัสยา</label>
                                                                            <input name="drugid" type="text" size="4" required />
                                                                            <label>จำนวนยา</label>
                                                                            <input  name="cupid" type="text" size="5" required />
                                                                        </div>
                                                                        <% }%>
                                                                    </div>
                                                                </div>
                                                                
                                                            </div>
                                                            <div class="modal-footer">
                                                                <button type="submit" class="btn btn-primary" >ตกลง</button>
                                                            </div>
        
                                                        </form>
        
                                                    </div>
                                                </div>
                                            </div> -->